body {
  text-align: center;
}

video {
  width: 70vw;
}

#video-wrapper {
  display: inline;
  position: relative;
}


#overall {
  position: absolute;
  top: 60vw;
  left: 2.5%;
  z-index: -1;
  width: 95%;
  opacity: 1;
}
